<footer class="footer items-center p-4 bg-base-300 text-base-content mt-auto">
    <aside class="items-center grid-flow-col">
        <p>Студпарламент ФКНК КНУ ім. Тараса Шевченка © @DateTime.Now.Year - Всі права захищено</p>
    </aside>
</footer>