<!DOCTYPE html>
<html lang="uk" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Студпарламент ФКНК</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>
<body class="bg-base-200 min-h-screen text-base-content font-sans">

<partial name="_HeaderPartial"/>

<div class="container mx-auto px-4 pb-12 w-full max-w-7xl">
    <main role="main">
        @RenderBody()
    </main>
</div>

<partial name="_FooterPartial"/>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
